streamlit==1.31.1
pandas==2.2.0
numpy==1.26.4
finance-datareader==0.9.50
pyupbit==0.2.33
ccxt==4.1.13
setuptools==69.0.3
wheel==0.42.0
python-dateutil==2.8.2
pytz==2024.1
six==1.16.0
setuptools_scm==8.0.0
Cython==3.0.6
numpy==1.26.4
pandas==2.2.0
scikit-learn==1.4.0 